<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              id="name"
              formControlName="name"
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              name="imagePath"
              formControlName="imagePath"
              id="imagePath"
              #imagePath
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="/" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              formControlName="description"
              rows="6"
              type="text"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            *ngFor="let ingredientCtrl of controls; let i = index "
            [formGroupName]="i"
            style="margin-top: 10px"
            class="row">
            <div class="col-xs-8">
              <input
                formControlName="name"
                name="name"
                type="text"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <input
                formControlName="amount"
                name="amount"
                type="number"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
